html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.navbar-nav.navbar-center {
  position: absolute;
  left: 50%;
  transform: translatex(-50%);
}
hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid rgba(241, 241, 241, 0.1);
}

.homebutton:hover{
  color: #4d4c4c !important;
  background-color: #e1dede !important;
}

h3::after{
  content: "";
  display: block;
  width: 2.5rem;
  height: 2px;
  background: #ff6000;
  margin: 0.74rem 0 0;
}
.footerButton{
  font-size: 14.5px!important;
}

.footerButton:hover{
  background-color: #e5e3e3 !important;
}


.dropdown-toggle svg{
  display: none;
}

.dropdown-toggle::after{
  color: rgba(9, 9, 9, 0.84);
  margin-left: 11em!important;
}

.btn:focus {
  box-shadow: none!important;
}

#HowToBuyBody{
  background:linear-gradient(
          135deg
          ,#ff6000,#fec13d);;
}

a{
  text-decoration: none!important;
}

.social-icon:hover{
  color:#ff6000!important;
}

.greyButtonProduct:hover{
  background-color: #ff6000 !important;
  border-color: #ff6000 !important;
}

.greyButtonProduct:hover .greyButtonProductIcon{
  color:#fff !important;
}

.greyButtonProduct:hover .greyButtonProductText{
  color:#fff !important;
}

.orangeButtonProduct:hover{
  background-color: #a94001 !important;

}

.container-fluid{
  padding: 0 !important;
}

::selection {
  color:white!important;
  background: #ff6000!important;
}

.google-button:hover{
  background-color: #f1f1f1 !important;
}

.login-button:hover{
  border-color: grey!important;
}

.login-button-submit:hover{
  background-color: #a94001!important;
}

.accordion-button:not(.collapsed) {
  color:#333!important;
  font-weight: 600!important;
  background-color: transparent!important;
  box-shadow: none!important;

}
.accordion-button {
  height:46px!important;

}
.accordion-button:focus {
  box-shadow: none!important;

}

.accordion-button:not(.collapsed):hover {
  background-color: #f3f2f2 !important;
}

.offcanvas-login-link:hover{
  background-color: #f3f2f2 !important;
}

.offcanvas-login-logout .accordion-button::after{
  background-image:none!important;
}

.accordion-button:is(.collapsed) {
  color:#333!important;
  font-weight: 600!important;
  background-color: transparent!important;
  box-shadow: none!important;

}
.accordion-button:is(.collapsed):hover {
  background-color: #f3f2f2 !important;

}

.breadcrumb a {
  color:#888!important;
}

.breadcrumb a:hover {
  color:#333!important;
}

.form-check-input:checked{
  background-color: #ff6000!important;
  border-color: #ff6000!important;
}

.form-check-input:focus{
  border-color: rgba(0,0,0,0.25)!important;
  box-shadow: none!important;
}

.alert-pcc{
  background-color: #f57629 !important;
  color:#fff!important;
}

.no-style{
  background-color: transparent!important;
  color:#888!important;
  border: none!important;
  width: 130px!important;
  height: 20px!important;
}
.dropdown-toggle::after {
  display: none !important;
}
.dropdown-toggle svg {
  display: initial!important;
}
.carousel-control-next-icon{
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23888'%3e%3cpath d='M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e") !important;
}
.carousel-control-prev-icon{
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23888'%3e%3cpath d='M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z'/%3e%3c/svg%3e") !important;
}

